//- Variables
- var links = ["Почему мы?", "Номера", "Отзывы", "Как нас найти"];

//- Mixins
mixin nav
  nav.nav
    .nav__logo
      img.nav__logo-img(src="./img/logo.svg", alt="Котейка")
    ul.nav__list
      each link in links
        li.nav__list-item: a.nav__list-link(href="#")= link