.abouts {
  background: url("../img/paw-about.png") no-repeat;
  background-size: 40%;
  background-position: 120% 45px;
}

.abouts__list-item {
  margin-bottom: 30px;
  padding: 25px;
  @include list-item;

  &:last-child {
    margin-bottom: 0;
  }
}

.abouts__list-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.abouts__list-title {
  margin-bottom: 20px;
}

.abouts__list-desc {
  font-size: 15px;
}

// Media
@media(min-width: $tablet) {
  .abouts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .abouts__list-item {
    flex-basis: calc(50% - 15px);

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(5) {
      margin-bottom: 0px;
    }
  }
}