.banner__wrapper {
  min-height: 520px;
  padding: 50px 25px;
  text-align: center;
  font-size: 15px;
  background: url("../img/banner-m.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 8px;

  & .btn {
    margin: 30px auto;
  } 
}

.banner__free-day {
  font-size: 24px;
  font-weight: 700;
}

.banner__free {
  margin-bottom: 20px;
  font-size: 37px;
  font-weight: 700;
}