.container {
  position: relative;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 15px;
}

// Media
@media(min-width: $tablet) {
  .container {
    padding: 0 45px;
  }
}

@media(min-width: $desktop-sm) {
  .container {
    padding: 0 98px;
  }
}