.filter__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 40px;
}

.filter__btn {
  padding: 10px 15px;
  font-size: 14px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border: none;
  border-radius: 25px;
  cursor: pointer;

  & i {
    margin-left: 10px;
  }
}

.filter__select {
  padding: 10px 15px;
  padding-right: 50px;
  font-size: 14px;
  background: #FFFFFF;
  background: url("../img/arr-down.svg")no-repeat 90% center;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border: none;
  border-radius: 25px;
  appearance: none;
  cursor: pointer;

  &--opened {
    background: url("../img/arr-up.svg")no-repeat 90% center;
  }
}

// Media
@media (min-width: $tablet) {
  .filter__buttons-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .filter__buttons {
    margin: 0;
  }

  .filter__btn {
    margin-right: 30px;
  }
}