.header {
  background-color: #ffffff;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Media
@media (max-width:$mobile-only) {
  .header {
    & .nav__list {
      display: none;
    }
  }
}