.main__header {
  padding-top: 0;
  height: 457px;
  background: url("../img/head-bg-m.jpg") no-repeat center center;
  background-size: cover;
}

.main__header-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.main__city {
  font-size: 12px;
}

.main__title {
  margin-bottom: 5px;
}

.main__desc {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

// Media
@media (min-width: $tablet) {
  .main__header {
    height: 868px;
    background: url("../img/head-bg-t.jpg") no-repeat center center;
    background-size: cover;
    background-position-y: -76px;
  }

  .main__header-wrap {
    padding-top: 140px;
  }

  .main__city {
    font-size: 14px;
  }

  .main__title {
    margin-bottom: 25px;
  }

  .main__desc {
    font-size: 20px;
  }
}

@media (min-width: $desktop-sm) {
  .main__header {
    height: 504px;
    background: url("../img/head-bg-d.jpg") no-repeat center center;
    background-size: cover;
  }
}

@media (min-width: $desktop) {
  .main__header-wrap {
    justify-content: center;
    align-items: flex-start;
    max-width: 1366px;
    height: 100%;
    padding-top: 0;
    padding-left: 198px;
    margin: 0 auto;
  }
}