.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__list-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}