.nav {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.nav__logo {
  width: 46px;
  height: 38px;
}

.nav__list {
  position: relative;
  display: flex;
}

.nav__list-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__burger {
  display: none;
  width: 22px;
  height: auto;
  cursor: pointer;

  & span {
    width: 22px;
    height: 4px;
    margin-bottom: 4px;
    border: none;
    background-color: $text-color;
    border-radius: 50px;
    transition: $anim;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover span {
    background-color: $main;
  }

  &--open {
    &:hover span {
      background-color: #ffffff;
    }

    & span {

      &:nth-child(1) {
        transform: rotate(-45deg);
        margin-bottom: -4px;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(45deg);
      }
    }
  }
}


// Media
@media (min-width: $tablet) {
  .nav__logo {
    width: 63px;
    height: 52px;
  }

  .nav__list-link {
    font-weight: 500;
  }
}

@media (max-width: $mobile-only) {
  .nav__burger {
    z-index: 101;
    display: flex;
    flex-direction: column;
  }
}