.pop-up {
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 0px;
  width: 100%;
  min-height: 100%;
  display: none;
  overflow: auto;
  background: rgba(255, 254, 253, 0.8);
  backdrop-filter: blur(5px);
}

.pop-up__wrapper {
  position: fixed;
  margin: 70px 0;
  width: calc(100% - 30px);
  padding: 60px 15px;
  box-shadow: 0px 0px 25px rgba(153, 153, 153, 0.25);
  border-radius: 10px;
  background: url("../img/paw-popup.png") no-repeat;
  background-size: 40%;
  background-position: -30px -30px;
  background-color: #ffffff;

  &--ok {
    display: none;
    background: url("../img/paw-popup-ok.png") no-repeat;
    background-size: 40%;
    background-position: -20px 120%;
    background-color: #ffffff;
  }
}

.pop-up__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  cursor: pointer;

  & span {
    position: absolute;
    top: 40%;
    display: block;
    margin: 0 auto;
    width: 16px;
    height: 2px;
    background-color: $text-color;
    border-radius: 50px;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }

  &:hover span {
    background-color: $main;
  }
}

.pop-up__title {
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;

  &--ok {
    margin-bottom: 20px;
  }
}

.pop-up__desc {
  margin-bottom: 35px;
  text-align: center;
}

.pop-up__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 15px;
  border: 1px solid #d7d7d7;
  border-radius: 25px;

  &::placeholder {
    color: $text-color;
  }
}

.pop-up__date {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 35px;

  & label {
    margin-right: 5px;
  }
}

.pop-up__date-input {
  margin-bottom: 0;
  margin-right: 10px;
  padding-left: 15px;

  &::placeholder {
    color: #d7d7d7;
  }

  &:last-child {
    margin-right: 0;
  }
}

.pop-up__submit {
  width: 260px;
}

.pop-up__ok {
  width: 122px;
}

// Media
@media(min-width: $tablet) {
  .pop-up {
    align-items: flex-start;
  }

  .pop-up__wrapper {
    width: 500px;
    padding: 60px 30px;
    margin: 136px 0;
    background-position: -60px -60px;

    &--ok {
      background-position: -40px 160%;
    }
  }
}

@media(min-width: $desktop) {
  .pop-up__wrapper {
    width: 570px;
    padding: 70px;
    margin: 146px 0;
  }
}