.pop-up {
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    min-height: 100vh;
    padding: 70px 15px 0;
    // display: none;
    background: rgba(255, 254, 253, 0.8);
    backdrop-filter: blur(5px);
}

.pop-up__wrapper {
    position: relative;
    padding: 60px 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.pop-up__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;

    & span {
        position: absolute;
        top: 40%;
        display: block;
        margin: 0 auto;
        width: 16px;
        height: 2px;
        background-color: $text-color;
        border-radius: 50px;

        &:first-child {
            transform: rotate(45deg);
        }

        &:last-child {
            transform: rotate(-45deg);
        }
    }

    &:hover span{ 
        background-color: $main;
    }
}

.pop-up__title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}