.reviews {
  background: url("../img/paw-review.png") no-repeat;
  background-size: 45%;
  background-position: 120% 45px;
}

.reviews__list {
  display: flex;
  margin-bottom: 30px;
}

.reviews__list-review {
  font-size: 15px;
  font-weight: 500;
}

.reviews__list-item {
  display: flex;
  align-items: flex-start;
  padding: 25px 25px 25px 0;
  @include list-item;
}

.reviews__list-quote {
  margin-left: 25px;
  margin-right: 10px;
  font-family: 'Lato';
  font-size: 54px;
  line-height: 45px;
  color: $main;
}

// Media
@media (max-width: $mobile-only) {
  .reviews__list blockquote>footer {
    display: none;
  }
}

@media (min-width: $tablet) {
  .reviews__list {
    margin-bottom: 50px;
  }

  .reviews__list-item {
    flex-basis: 65%;
    padding: 35px 35px 35px 0;
  }

  .reviews__list-quote {
    margin-left: 35px;
    margin-right: 8px;
    font-size: 72px;
    line-height: 60px;
  }

  .reviews__list blockquote {
    &>p {
      margin-bottom: 25px;
    }

    &>footer {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: $text-secondary;
    }
  }
}