.rooms-page {
  padding-top: 40px;
} 

.rooms-page__title {
  text-align: left;
}

.rooms-page__list-item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.rooms-page__list-img {
  @include room-img;
}

.rooms-page__list-wrapper {
  @include list-item;
  @include room-wrap;
  border: 1px solid #E1E1E1;
  border-top: none;
}

.rooms-page__list-title {
  @include room-title
}

.rooms-page__list-inner {
  margin-bottom: 25px;
  font-size: 15px;

  & li {
    margin-bottom: 15px;
  }
}

.rooms-page__list-things {
  display: flex;

  & img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}