.room-detail {
  padding-top: 40px;
  margin-bottom: 30px;

  & ul {
    margin-bottom: 20px;
  }

  & li {
    font-size: 15px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;

      & span {
        font-size: 18px;
      }
    }

    &>ul {
      padding-top: 15px;

      & li {
        display: flex;
        margin-bottom: 10px;
      }

      & img {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
}

.room-detail__title {
  text-align: left;
  margin-bottom: 30px;
}

// Media
@media (min-width: $tablet) {
  .room-detail {
    padding-top: 60px;

    & .container {
      display: flex;
    }
  }

  .room-detail__desc {
    width: 40%;
  }

  .room-detail__btn {
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .room-detail {
    padding-top: 70px;
  }
}