.rooms {
  padding-top: 40px;
  background: url("../img/fish.png") no-repeat;
  background-size: 50%;
  background-position: 0% 110px;
}

.rooms__list {
  margin-bottom: 30px;
}

.rooms__list-img {
  border-radius: 8px 8px 0 0;
}

.rooms__list-wrapper {
  @include list-item;
  padding: 25px;
}

.rooms__list-title {
  display: block;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.rooms__list-inner {
  margin-bottom: 25px;
  padding-right: 50px;

  & li {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    font-size: 15px;

    &::before {
      content: "";
      display: block;
      width: 11px;
      height: 11px;
      margin-right: 8px;
      background-color: $main;
      border-radius: 50px;
    }
  }
}

// Media
@media (min-width: $tablet) {
  .rooms {
    padding-top: 90px;
    background-size: 45%;
    background-position: 0% 160px;
  }

  .rooms__list {
    margin-bottom: 50px;
  }

  .rooms__list-item {
    display: flex;
    align-items: center;

    & picture {
      width: 70%;
    }
  }

  .rooms__list-img {
    border-radius: 8px;
  }

  .rooms__list-wrapper {
    position: absolute;
    right: 45px;
    width: 45%;
    padding: 40px;
  }

  .rooms__list-inner {
    padding-right: 0px;
  }
}

@media (min-width: $desktop-sm) {
  .rooms__list-wrapper {
    right: 98px;
  }
}

@media (min-width: $desktop) {
  .rooms {
    padding-top: 110px;
    background-size: 35%;
    background-position: 0% 140px;
  }

  .rooms__list {
    padding: 0 70px;
    margin-bottom: 55px;
  }

  .rooms__list-title {
    font-size: 22px;
  }

  .rooms__list-item {
    & picture {
      width: 60%;
    }
  }

  .rooms__list-wrapper {
    right: 168px;
    width: 35%;
    padding: 40px 100px;
  }

  .rooms__list-inner li{
      font-size: 16px;
  }
}