.slider {
  display: flex;
  justify-content: center;
}

.slider__item {
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: #e1e1e1;
  border-radius: 50px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    background-color: $main;
  }
}