-var title = "Котейка | Главная"

include ../includes/mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- Fontawesome
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css", rel="stylesheet")
    title= title
  body
    include ../includes/header.pug
    main.main
      section.main__header
        .main__header-wrap
          span.main__city Санкт-Петербург
          h1.main__title Котейка
          span.main__desc Уютная гостиница для котов и кошек
          button.btn.btn--light.btn--order Забронировать
            span
      section.abouts#abouts
        h2.abouts__title Почему мы?
        .container
          +abouts-list
      section.rooms#rooms
        h2.rooms__title Номера
        .container
          .slider-wrapper
            +rooms-list
          +slider-points
          +slider-btns
      section.reviews#reviews
        h2.reviews__title Отзывы
        .container
          .slider-wrapper.wow.slideInLeft
            +reviews-list
          +slider-points
          +slider-btns
    include ../includes/footer.pug
