-var title = "Котейка | Главная"
-var about = [{title: "One", desc: "One desc"}];
include ../includes/mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= title
  body
    include ../includes/header.pug
    main.main
      section.main__header
        span.main__city Санкт-Петербург
        h1.main__title Котейка
        span.main__desc Уютная гостиница для котов и кошек
        button.btn.btn--light Забронировать
          span
      section.abouts
        h2.abouts__title Почему мы?
        .container
          +abouts-list
      section.rooms
        h2.rooms__title Номера
        .container
          +rooms-list
    include ../includes/footer.pug
