-var title = "Котейка | Номера"

include ../includes/mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- Favicon
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    //- Fontawesome
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css", rel="stylesheet")
    title= title
  body
    include ../includes/header.pug
    main.main
      section.rooms-page
        .container
          .filter__buttons-wrapper
            h2.rooms-page__title Наши номера
            .filter__buttons
              button.filter__btn Фильтры
                i.fas.fa-filter 
              select.filter__select
                option(value="square-up") &#9650; По площади
                option(value="square-down") &#9660; По площади
                option(value="price-up") &#9650; По цене
                option(value="price-down") &#9660; По цене
          .rooms-page__wrapper
            aside.filter__form-popup
              +filter-form
            +rooms-page-list
      section.banner.wow.bounceInLeft
        .container
          .banner__wrapper
            p.banner__free-day Каждый 7-й день
            p.banner__free бесплатно!
            p.banner__desk Акция действует при размещении<br>в номерах “Люкс” и “Супер-Люкс”
            button.btn.btn--light.btn--order Забронировать
              span         
    include ../includes/footer.pug
    