-var title = "Котейка | Номера"

include ../includes/mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- Fontawesome
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css", rel="stylesheet")
    title= title
  body
    include ../includes/header.pug
    main.main
      .container
        h2.rooms-page__title Наши номера
        .rooms-page__wrapper
          form.rooms-page__filter
          +rooms-page-list
          
    include ../includes/footer.pug
    