-var title = "Котейка | Подробно"

include ../includes/mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- Favicon
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    //- Fontawesome
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet")
    title= title
  body
    include ../includes/header.pug
    main.main
      section.room-detail
        .container
          .room-slider
            .room-slider__main-photo
            .room-slider__slides
              .room-slider__slide-mini.room-slider__slide-mini--one
              .room-slider__slide-mini.room-slider__slide-mini--two
              .room-slider__slide-mini.room-slider__slide-mini--three
          .room-detail__desc
            h2.room-detail__title Супер-Люкс
            ul.room-detail__list
              li Размеры (ШхГхВ) - 180х160х180 см
              li Площадь - 2,88 м2
              li Оснащение номера
                ul
                  li
                    img(src="../img/furniture-icon-bed.svg")
                    |Лежак
                  li
                    img(src="../img/furniture-icon-house.svg")
                    |Домик
                  li
                    img(src="../img/furniture-icon-ball.svg")
                    |Игровой комплекс - 3 яруса
                  li
                    img(src="../img/furniture-icon-toy.svg")
                    |Когтеточка
              li Цена за сутки:
               span  600₽
            button.btn.btn--dark.btn--order.room-detail__btn Забронировать
              span        
      section.rooms
        h2.rooms__title Другие номера
        .container
          .slider-wrapper
            +rooms-list
          +slider-points
          +slider-btns
    include ../includes/footer.pug