* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    color: #ffffff;
    background: $main;
   }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
  background: $bg;
}

a {
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: $main;
  }

  &:focus {
    outline: 2px solid $main;
  }
}

button {
  &:focus {
    outline: 2px solid $main;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h1 {
  font-size: 44px;
}

h2 {
  margin-bottom: 40px;
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

h1, h2 {
  font-weight: 700;
  text-align: center;
}

h3, h4 {
  font-weight: 500;
}

section {
  padding-top: 70px;
}